---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="text">
            {% for i in (1..5) %}
            <div class="row">
                {% for j in (1..10) %}
                <h1>Coming Soon</h1>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
