footer {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

.company {
    display: flex;
    gap: 1em;
    align-items: center;

    img {
        width: 5em;
        height: 5em;
    }

    div {
        text-align: center;

        p {
            margin: 0;
        }
    }
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    svg {
        width: 5em;
        height: 5em;
    }
}

.site-links {
    display: flex;
    gap: 1em;

    a {
        text-decoration: none;
        h2 {
            color: var(--secondary);

            &:hover {
                color: var(--accent);
            }
        }
    }
}