header {
    display: flex;
    flex-direction: column;
}

.profile {
    display: grid;

    margin: 1em 0em 0em 1em;

    img, .js-menu {
        width: 3em;
        height: 3em;

        grid-row: 1;
        grid-column: 1;
    }
    img {
        visibility: hidden;
    }
    .js-menu {
        display: flex;
        flex-direction: column;
        visibility: visible;
        z-index: 2;

        transition: transform 0.5s ease-in-out;

        &:hover {
            cursor: pointer;
            div {
                background-color: var(--accent);
            }
        }
        div {
            width: auto;
            height: 0.3em;
            margin-top: auto;
            margin-bottom: auto;
            background-color: var(--secondary);
            transition: transform 0.5s ease-in, opacity 0.3s linear, background-color 0.3s ease-in-out;
        }
    }
    .menu-active {
        transform: rotate(360deg);
        :nth-child(1) {
            transform: translateY(1em) rotate(45deg);
        }
        :nth-child(2) {
            opacity: 0;
        }
        :nth-child(3) {
            transform: translateY(-1em) rotate(-45deg);
        }
    }
}

.nav {
    width: 100%;

    transform: translateY(-120%);
    visibility: collapse;

    transition: all 1s ease-out;

    ul {
        padding: 0;
        list-style-type: none;
    }
}
.nav-active {
    visibility: visible;
    transform: translateY(0%);
}
.active-page {
    color: var(--primary) !important; // Could not solve any other way
    font-weight: 300;
}
.nav-link {
    display: block;
    padding: 0 1em 0 1em;

    a {
        display: inline-block;
        width: 100%;

        font-size: 4em;
        font-weight: 100;
        text-decoration: none;

        color: var(--secondary);

        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--accent) !important; // Could not solve any other way
        }
    }
}

@media (max-width: 768px) { // 768px is chosen at random, find exact width later
    .nav-link {
        border-bottom: solid 0.1em var(--secondary);
    }
}

@media (min-width: 769px) {
    header {
        flex-direction: row;
    }

    .profile {
        img {
            visibility: visible;
            height: clamp(3rem, 5vw, 4rem);
            width: clamp(3rem, 5vw, 4rem);
        }
        .js-menu {
            visibility: hidden;
        }
    }
    .nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(0%);
        visibility: visible;
        width: max-content;
    }
    .nav-link {
        display: inline-block;
        border-left: solid 0.05em var(--secondary);
        border-right: solid 0.05em var(--secondary);
        border-bottom: none;

        transition: border-color 0.3s ease-in-out;

        a {
            font-size: clamp(1.75rem, 3vw, 3rem);
        }

        &:hover {
            border-color: var(--accent);
        }
    }
}