---
---

h1 {
    font-weight: 100;

    span {
        font-weight: 500;
    }
}

.subtext {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// Temporary fix for the svg sizes
svg {
    width: 100px;
    height: 100px;
}