---
---
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

:root {
    --bg: #000000;
}

body {
    font-family: 'Noto Sans', san-serif;
    overflow: hidden;
}

.row {
    display: flex;
    gap: 1em;

    width: fit-content;

    animation: scroll 10s infinite linear;
}
@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

h1 {
    font-size: 3em;
    width: max-content;
}
